/*** reset ***********/
html,body,ul,ol,li,dl,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,a,img,label{margin:0;padding:0;border:0}
header, section, footer, aside, nav, article {display:block}
ul{list-style:none}


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:after,
	&:before{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;		
	}
}


html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 62.5%
}


body{
	background: url(../images/bg.png) $color3 ;
	@include font-size(1.4);
	font-display: swap;
	font-family: "SegoeUIRegular";
	font-style: italic;
	// height: 100vh;
}

html, body{
	height: 100%
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	//ie11
}



input::-moz-focus-inner{
	border: 0;
	padding: 0;
}


.d-grid{
	display: flex;
}

.main-grid{
	height: 100%;
	display: flex;
	flex-direction: column;
	.main{
		flex-grow: 1;
	}		
}

@supports (display:grid) {
	.d-grid{
		display: grid;
	}
	.main-grid{
		height: auto;
		min-height: 100vh;
		display: grid;
		grid-template-areas: "header"
							 "main"
							 "social"
							 "bottom-menu"
							 "footer";
		grid-template-rows: auto 1fr auto auto auto;
	}


	@media (min-width: 992px){
		.grid-lg-2{
			grid-template-columns: repeat(2, 1fr);
			grid-row-gap: 30px;
		}	
		.grid-lg-3{
			grid-template-columns: repeat(3, 1fr);
			grid-row-gap: 30px;
		}		
		.d-lg-grid{
			display: grid !important;
		}
	}
	@media (min-width: 1250px){
		.grid-xl-6{
			grid-template-columns: repeat(6, 1fr)
		}		
	}
}


.outerwrapper{
	-webkit-flex: 1;
	flex: 1;
}

/*** standart classes *****/
p{}
a{color:#020000; transition: .3s}
h1{font-size:2.5rem}
h2{font-size:2.4rem}
h3{font-size:1.6rem}

.regular{
	font-family: "SegoeUIRegular";	
}



strong em,
em strong
{
	font-weight: normal;
	font-family: "SegoeUIBoldItalic";
}


.tdn{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.tdu{
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}


#back-top{
	font-family: 'ucb';
	text-transform: uppercase;
	font-size: 13px;
	border-radius: 5px;
	height: 2.4rem;
}


.btn{
	border: none;
	cursor: pointer;
	font-weight: normal;
	padding: .2rem 2rem;
	transition: .3s;
	height: 3.2rem;
	border-radius: 3.2rem;
	&-gray{
		background-color: #bfbfbf;
		color: $color2;
	}
	&-blue{
		background-color: $color5;
		color: $color2;	
	}
	&-hover-blue{
		&:hover{
			background-color: $color12;
			color: $color2;			
		}
	}
	&-hover-white{
		&:hover{
			background-color: $color2;
			color: $color1;
		}
	}
	&-inline{
		background: none;
		padding: 0;
		border: none;
		border-bottom: 1px dashed;
		cursor: pointer;
		&:hover{
			border-bottom-color: rgba(255,255,255,0) !important;
		}
	}
}

#more-works{
	background-color: $color4;
	color: $color2;
	display: block;
	font-style: italic;
	margin-left: auto;
	margin-right: auto;
	width: 184px;
}

.before{
	content: "";
	display: block;
	position: absolute;
}


h1.title{
	color: $color4;
	font-size: 3rem;
	font-style: normal;
	line-height: 1.2;
	text-align: center;
	a{
		color: currentColor;
		border-bottom: 2px dashed;
		&:hover{
			color: $color5;
			border-bottom-color: $color5;
			text-decoration: none;
		}
	}
}


.text{
	p{
		line-height: 1.7;
		margin: 2.5rem 0
	}
}

section{
	padding: 2.7rem 0;
}

.topline{
	position: relative;
	&:before{
		@extend .before;
		background: linear-gradient(to right, #eef1f2 0%, #b6b8b8 50%, #eef1f2 100%);
		height: 1px;
		left: 50%;
		margin-left: -192px;
		top: 0;
		width: 384px;
	}
}



.inner h1.title,
main h1,
.news h1,
.actions h1,
.bottomline{
	position: relative;
	padding-bottom: 1.3rem;
	&:after{
		@extend .before;
		background: linear-gradient(to right, #eef1f2 0%, #b6b8b8 50%, #eef1f2 100%);
		bottom: 0;
		height: 1px;
		left: 50%;
		margin-left: -192px;
		width: 384px;
	}
}



.bottom-longline,
.top-longline{
	position: relative;

}

.top-longline{
	padding-top: 3.2rem;
	&:before{
		@extend .before;
		background: linear-gradient(to right, #eef1f2 0%, #b6b8b8 50%, #eef1f2 100%);
		height: 1px;
		left: 5%;		
		top: 0;
		width: 90%;
	}
}

.bottom-longline{
	padding-bottom: 3.2rem;
	&:after{
		@extend .before;
		background: linear-gradient(to right, #eef1f2 0%, #b6b8b8 50%, #eef1f2 100%);
		height: 1px;
		left: 5%;		
		bottom: 0;
		width: 90%;
	}
}



.webp .fixed-header{
	background-image: url(../images/bg/fixed-header-bg.webp);
}


.link-dashed{
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	&:hover{
		border-bottom-color: rgba(0,0,0,0);
		text-decoration: none;
	}
}

.link-nodashed{
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: rgba(0,0,0,0);
	&:hover{
		text-decoration: none;
	}
}


body.fixed{
	.inner{
		padding-top: 110px;		
	}
	.fixed-header{
		left: 0;
		position: fixed;
		top: -200px;
		transition: top .3s;
	}

	&.sticky{
		.fixed-header{
			top: 0;
		}
	}
}

.fixed-header{
	background-image: url(../images/bg/fixed-header-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	transition: transform .6s;
	z-index: 999;
	&-body{
		height: 110px;
	}

	.nav{
		a{
			border-bottom-width: 1px;
			color: $color2;
			font-size: 1.9rem;
			font-style: italic;
			font-weight: bold;
			margin: 0 1.5rem;
			@extend .link-nodashed;
			&:hover{
				border-bottom-color: #fff
			}
		}
	}

	
	.contacts{
		.tel{
			&:hover{
				text-decoration: none;
			}
		} 
		.btn-inline{
			font-style: italic;
			font-size: 1.8rem;
			color: $color2;
		}
	}

	.tel{
		color: $color2;
		font-size: 2.2rem;
		font-weight: bold;
		font-style: italic;
	}
}

.sticky{
	.homepage{
		.fixed-header{
			transform: translateY(0);			
		}
	}
}


/* =main
---------------------------*/
.tab-content {
	> .tab-pane {
		display: none;
	}
	> .active {
		display: block;
	}
}

.visually-hidden{
	clip: rect(0 0 0 0);
	height: 1px;
	overflow: hidden;
	position: absolute;
	width: 1px;
}


.slick{
	&-arrow{
		background: none;
		border: none;
		color: #808080;
		cursor: pointer;
		font-family: 'DS Eraser Cyr';
		font-size: 2.4rem;
		padding: 0;
		&:hover{
			color: #2f4f8e;
		}
	}
	&-dots{
		display: flex;
		justify-content: center;
		margin-top: 3rem;
		li{
			margin-left: .6rem;
			margin-right: .6rem;
		}
		button{
			background: #808080;
			border: none;
			cursor: pointer;
			border-radius: 50%;
			padding: 0;
			width: 1rem;
			height: 1rem;
			text-indent: -9999em;
			&:hover{
				background-color: #000;
			}
		}

		.slick-active{
			button{
				background-color: #2f4f8e				
			}
		}
	}
}

.share{
	// margin-top: 2.5rem;
	padding: 3.2rem 0 4.5rem;
	text-align: center;
	position: relative;
	&:before{
		@extend .before;
		background: linear-gradient(to right, #eef1f2 0%, #b6b8b8 50%, #eef1f2 100%);
		height: 1px;
		left: 5%;		
		top: 0;
		width: 90%;
	}
}



/* =bottom menu
---------------------------*/
.bottom__menu{
	background-color: $color11;
	border-radius: 4px;
	color: $color2;
	display: flex;
	margin-top: 13px;
	min-height: 235px;
	padding: 2rem;
	position: relative;
	text-align: center;

	.logo{
		margin: auto;
	}
	&:before{
		@extend .before;
		background-color: $color11;
		border-radius: 3.2rem;
		height: 3.2rem;
		left: 50%;
		margin-left: -104px;
		top: -10px;
		width: 208px;
	}


	.menu{
		position: absolute;
		white-space: nowrap;

		li{
			position: absolute;
			top: 0;
		}
		&-1{
			left: 140px;
			.menu-item{
				&-1{
					left: 0;
					top: 10px;
				}
				&-2{
					left: 50px;
					top: 34px;
				}
				&-3{
					left: 34px;
					top: 56px;
				}
				&-4{
					left: 80px;
					top: 80px;
					&:before{
						@extend .before;
						background: url(../images/arrow-1.png) no-repeat;
						height: 6px;
						left: 52px;
						top: 8px;
						width: 168px;
					}
				}
				&-5{
					left: 43px;
					top: 103px;
				}
				&-6{
					left: 52px;
					top: 125px;
				}
				&-7{
					left: 7px;
					top: 149px;
				}
			}
		}
		&-2{
			left: 270px;
			li{
				&:before{
					@extend .before;
					background: url(../images/arrow-2.png) no-repeat;
					height: 19px;
					width: 45px;
					transform-origin: left top;
				}
			}
			.menu-item{
				&-1{
					left: 139px;
					top: 13px;
					&:before{
						left: 71px;
						top: 14px;
						transform: rotate(30deg);
					}
				}
				&-2{
					left: 13px;
					top: 42px;
					&:before{
						left: 150px;
						top: 4px;
						transform: rotate(3deg);
					}
				}
				&-3{
					left: 0;
					top: 117px;
					&:before{
						left: 156px;
						top: 17px;
						transform: rotate(3deg) scaleY(-1);
					}
				}
				&-4{
					left: 117px;
					top: 145px;
					&:before{
						left: 92px;
						top: 10px;
						transform: rotate(-27deg) scaleY(-1);
					}
				}
			}
		}

		&-3{
			right: 470px;
			li{
				&:before{
					@extend .before;
					background: url(../images/arrow-2.png) no-repeat;
					height: 19px;
					width: 45px;
					transform-origin: left top;
				}
			}
			.menu-item{
				&-1{
					left: 0;
					top: 15px;	
					&:before{
						left: -12px;
						top: 11px;
						transform: scaleX(-1) rotate(30deg)
					}					
				}
				&-2{
					left: 45px;
					top: 42px;	
					&:before{
						left: -6px;
						top: 4px;
						transform: scaleX(-1) rotate(3deg)
					}				
				}
				&-3{
					left: 187px;
					top: 80px;
					&:before{
						background: url(../images/arrow-1.png) no-repeat;
						height: 6px;
						left: -22px;
						top: 8px;
						width: 127px;
						transform: scaleX(-1)
					}
				}
				&-4{
					left: 45px;
					top: 116px;
					&:before{
						left: -6px;
						top: 20px;
						transform: scale(-1,-1) rotate(3deg)
					}
				}
				&-5{
					top: 145px;
					&:before{
						left: -11px;
						top: 10px;
						transform: scale(-1,-1) rotate(27deg)
					}
				}
			}
		}

		&-4{
			right: 172px;
			li{
				&:before{
					@extend .before;
					background: url(../images/arrow-2.png) no-repeat;
					height: 19px;
					width: 45px;
					transform-origin: left top;
				}
			}
			.menu-item{
				&-1{
					top: 41px;
					&:before{
						left: -13px;
						top: 5px;
						transform: scaleX(-1)
					}
				}
				&-2{
					top: 80px;
					&:before{
						background: url(../images/arrow-1.png) no-repeat;
						height: 6px;
						left: -10px;
						top: 8px;
						width: 36px;
						transform: scaleX(-1)
					}
				}
				&-3{
					top: 118px;
					&:before{
						left: -13px;
						top: 17px;
						transform: scale(-1,-1) rotate(2deg)
					}
				}
			}
		}

		&-5{
			left: 548px;
			li{
				&:before{
					@extend .before;
					background: url(../images/arrow-3.png) no-repeat;
					height: 36px;
					width: 6px;
					left: 0;
					top: 0;
				}
			}
			.menu-item{
				&-1{
					top: -8px;
					&:before{
						top: 25px;
						left: 40px;
					}
				}
				&-2{
					left: -15px;
					top: 173px;
					&:before{
						left: 55px;
						top: -42px;
						transform: scaleY(-1);
					}
				}
			}
		}
	}

	li a{
		color: $color2;
		border-bottom: 1px dashed rgba(0,0,0,0);
		&:hover{
			border-bottom-color: #fff;
			text-decoration: none;
		}
	}

	#back-top{
		height: 25px;
		position: absolute;
		right: 0;
		text-align: center;
		top: -33px;
		width: 128px;
		z-index: 50;
	}


}
/* =bottom menu
---------------------------*/


footer{
	padding: .8rem 0;
	a{
		color: #3d4f59;
		border-bottom: 1px dashed;
		&:hover{
			border-bottom-color: rgba(0,0,0,0);
			color: #3d4f59;
			text-decoration: none;
		}
	}

	.creators{
		text-align: right;
	}
}

.social{	
	a{
		background-color: #ccc;
		height: 29px;
		width: 29px;
		margin: 0 1px;
		display: flex;
		border: none !important;
		img{
			margin: auto;
		}
		&.fb{
			&:hover{
				background-color: #3f6cb5;				
			}
		}
		&.tv{
			&:hover{
				background-color: #00acee;				
			}
		}
		&.vk{
			&:hover{
				background-color: #45668e;				
			}
		}
		&.rss{
			&:hover{
				background-color: #3f6cb5;				
			}
		}
	}
}


.transparent-overlay{
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}



.wepb{
	#callback{
		&-form{
			background-image: url(../images/bg/shape.webp);

		}
	}
}

.form-control{
	font-family: "Segoe UI";
	font-style: italic;
	text-align: center;
}

#callback{
	background-color: #000;
	display: flex;
	height: 100vh;
	left: 0;
	min-height: 100%;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition: opacity .3s;
	z-index: -1;
	
	&.show{
		opacity: 1;
		z-index: 1000;
	}
	.container{
		display: flex;
		align-items: center;
		height: 100%;
		justify-content: center;	

	}


	.body{
		display: flex;
		height: 692px;	
		position: relative;
	}

	&-form{
		align-items: center;
		background-image: url(../images/bg/shape.png);
		background-position: left top;
		background-repeat: no-repeat;
		display: flex;
		height: 692px;
		justify-content: center;
		margin: auto;
		width: 1069px;
		fieldset{
			margin-top: -45px;
		}
	}
	.close{
		background: none;
		border: none;
		color: $color2;
		cursor: pointer;
		font-family: 'DS Eraser Cyr';
		font-size: 3rem;
		padding: 0;
		position: absolute;
		right: 95px;
		top: 80px;
	}

	.form-control{
		$h: 4rem;
		border-radius: $h;
		border: 1px solid;
		display: block;
		font-size: 1.5rem;
		height: $h;
		margin: 2.4rem 0;
		width: 728px;
	}

	.btn-submit{
		background: #fff;
		border-radius: 4rem;
		border: none;
		display: block;
		font-family: "Segoe UI";
		font-style: italic;
		height: 4rem;
		margin: 0 auto;
		padding: 0;
		width: 14rem;
	}

	.sending,
	.thank{
		color: #fff;
		font-size: 1.8rem;
	}


	.policy{
		margin-top: 2.9rem;
		padding-left: 1.2rem;
		a{
			color: $color2;
			&:hover{
			}
		}
	}


	.user-access:not(checked) + label:before {
		background-color: $color2;
		border-color: $color2;
	}

	.user-access:checked + label:after {
		color: $color1;
	}
}




input[type="submit"]{
	cursor: pointer;
}



.user-access + label {
  cursor: pointer;
  color: $color3;
}

.user-access:not(checked) {
  position: absolute;
  opacity: 0;
}
.user-access:not(checked) + label {
  display: block;
  position: relative; /* будем позиционировать псевдочекбокс относительно label */
  padding: 0 0 0 60px; /* оставляем слева от label место под псевдочекбокс */
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.user-access:not(checked) + label:before {
	content: '';
	position: absolute;
	top: -4px;
	left: 0;
	width: 46px;
	height: 30px;
	border: 1px solid $color4;
	background-color: $color4;
  	border-radius: 30px;
}

/* Меняем фон чекбокса, когда он включен. */
.user-access:checked + label:before {
	border-color: $color4;
}
/* Сдвигаем переключатель чекбокса, когда он включен. */
.user-access:checked + label:after {
	border-radius: 3px;
	color: $color2;
	content: '*';
	font-size: 3rem;
	font-style: normal;
	height: 22px;
	left: 17px;
	line-height: 1;
	position: absolute;
	top: 1px;
	width: 22px;
}


.form-control.error{
	border-color: red !important;
}
label.error{
	display: none !important;
}