.webp{
	.homepage{
		.header{
			background-image: url(../images/bg/header-bg.webp);
		}
	}	
}
.homepage{
	.header{
		background: url(../images/bg/header-bg.jpg) no-repeat;
		background-size: cover;
		// position: relative;
		.logo{
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%)	
		}

		.container{
			position: relative;
			height: 920px;
		}

		.nav{
			font-family: 'DS Eraser Cyr';
			li{
				position: absolute;
				&:before{
					@extend .before;
					background: url(../images/menu.svg) no-repeat;
					width: 259px;
					height: 169px;					
					opacity: .45;
					transition: opacity .3s;
				}

				&:hover{
					&:before{
						opacity: 1;
					}
					.nav-title{
						color: #fff;
					}
				}
			}

			&-3,
			&-4,
			&-5,
			&-6
			{
				&:before{
					transform: scaleX(-1)
				}
			}


			&-1{
				left: 40px;
				top: 178px;
				.nav-title{
					left: 167px;
					top: 135px;
				}
			}
			&-2{
				left: 306px;
				top: 104px;
				.nav-title{
					left: 35px;
					top: 130px;
				}
			}
			&-3{
				left: 635px;
				top: 100px;
				.nav-title{
					right: 20px;
					top: 140px;
				}
			}
			&-4{
				left: 900px;
				top: 183px;
				.nav-title{
					left: 8px;
					bottom: 5px;
				}
			}

			&-5{
				left: 1000px;
				top: 383px;
				.nav-title{
					left: 70px;
					bottom: -35px;
				}
			}
			&-6{
				left: 820px;
				top: 590px;
				.nav-title{
					left: -50px;
					bottom: 0;
				}
			}
			&-7{
				left: 470px;
				top: 630px;
				.nav-title{
					left: 60px;
					bottom: -25px;
				}
			}
			&-8{
				left: 130px;
				top: 590px;
				.nav-title{
					right: 0;
					bottom: 0;
				}
			}
			&-9{
				left: -50px;
				top: 380px;
				.nav-title{
					left: 85px;
					bottom: -35px;
				}
			}

			a{
				height: 169px;
				width: 259px;
			}
			&-title{
				color: #808080;
				font-size: 2.1rem;
				letter-spacing: 1px;
				position: absolute;
				text-transform: uppercase;
				transition: color .3s;
			}
		}


		// icons
		.icon{
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			&:before{
				content: "";
				display: block;
				filter: invert(.3);
				margin-top: -15px;
				transition: filter .3s;
			}
			&:after{
				@extend .before;
				content: "- >";
				font-size: 2.2rem;
				color: #808080;
				transition: color .3s;
				white-space: nowrap;
				// width: 17px;
				// height: 13px;
			}

			&:hover{
				&:before{
					filter: none;
				}
				&:after{
					color: #fff;
				}
			}

			&-1{ // о нас
				&:before{
					@include sprite($icon-icon-1);
				}
				&:after{
					bottom: 5px;
					right: -57px;
					transform: rotate(30deg);
				}
			}

			&-2{ // отзывы
				&:before{
					@include sprite($icon-icon-2);
				}
				&:after{
					top: 160px;
					left: 174px;
					transform: rotate(70deg);
				}
			}


			&-3{ // новости
				&:before{
					@include sprite($icon-icon-3);
				}
				&:after{
					top: 170px;
					left: 45px;
					transform: rotate(110deg) scaleY(-1);
				}
			}


			&-4{ // акции
				&:before{
					@include sprite($icon-icon-4);
				}
				&:after{
					top: 130px;
					left: -55px;
					transform: rotate(150deg) scaleY(-1);
				}
			}

			&-5{ // клиенты
				&:before{
					@include sprite($icon-icon-5);
				}
				&:after{
					top: 55px;
					left: -80px;
					transform: rotate(180deg);
				}
			}

			&-6{ // логистика
				&:before{
					@include sprite($icon-icon-6);
				}
				&:after{
					top: -25px;
					left: -15px;
					transform: rotate(225deg);
				}
			}


			&-7{ // калькулятор
				&:before{
					@include sprite($icon-icon-7);
				}
				&:after{
					top: -40px;
					left: 110px;
					transform: rotate(280deg) scaleY(-1);
				}
			}

			&-8{ // услуги
				&:before{
					@include sprite($icon-icon-8);
				}
				&:after{
					top: -25px;
					left: 218px;
					transform: rotate(310deg) scaleY(-1);
				}
			}

			&-9{ // работы
				&:before{
					@include sprite($icon-icon-9);
				}
				&:after{
					top: 56px;
					left: 267px;
					transform: rotate(10deg) scaleY(-1);
				}
			}

		}


		// address
		.address{
			bottom: 28px;
			color: $color2;
			font-style: italic;
			position: absolute;
			right: 0;
			text-align: right;
			z-index: 10;
			a{
				color: $color2;
				border-bottom: 1px dashed;
				&:hover{
					border-bottom-color: rgba(255,255,255,0);
					text-decoration: none;
				}
			}
		}
	}
}