.webp{
	.homepage{
		.header{
			background-image: url(../images/bg/header-bg.webp);
		}
	}	
}
.homepage{
	.header{
		background: url(../images/bg/header-bg.jpg) no-repeat;
		background-size: cover;
		// position: relative;
		.logo{
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%)	
		}

		.container{
			position: relative;
			height: 920px;
		}

		.nav{
			font-family: 'DS Eraser Cyr';
			li{
				position: absolute;
				&:before{
					@extend .before;
					background: url(../images/menu.svg) no-repeat;
					width: 259px;
					height: 169px;					
					opacity: .45;
					transition: opacity .3s;
				}

				&:hover{
					&:before{
						opacity: 1;
					}
					.nav-title{
						color: #fff;
					}
				}
			}

			&-3,
			&-4,
			&-5,
			&-6
			{
				&:before{
					transform: scaleX(-1)
				}
			}


			&-1{
				left: 40px;
				top: 178px;
				.nav-title{
					left: 167px;
					top: 135px;
				}
			}
			&-2{
				left: 306px;
				top: 104px;
				.nav-title{
					left: 35px;
					top: 130px;
				}
			}
			&-3{
				left: 635px;
				top: 100px;
				.nav-title{
					right: 20px;
					top: 140px;
				}
			}
			&-4{
				left: 900px;
				top: 183px;
				.nav-title{
					left: 8px;
					bottom: 5px;
				}
			}

			&-5{
				left: 1000px;
				top: 383px;
				.nav-title{
					left: 70px;
					bottom: -35px;
				}
			}
			&-6{
				left: 820px;
				top: 590px;
				.nav-title{
					left: -50px;
					bottom: 0;
				}
			}
			&-7{
				left: 470px;
				top: 630px;
				.nav-title{
					left: 60px;
					bottom: -25px;
				}
			}
			&-8{
				left: 130px;
				top: 590px;
				.nav-title{
					right: 0;
					bottom: 0;
				}
			}
			&-9{
				left: -50px;
				top: 380px;
				.nav-title{
					left: 85px;
					bottom: -35px;
				}
			}

			a{
				height: 169px;
				width: 259px;
			}
			&-title{
				color: #808080;
				font-size: 2.1rem;
				letter-spacing: 1px;
				position: absolute;
				text-transform: uppercase;
				transition: color .3s;
			}
		}


		// icons
		.icon{
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			&:before{
				content: "";
				display: block;
				filter: invert(.3);
				margin-top: -15px;
				transition: filter .3s;
			}
			&:after{
				@extend .before;
				content: "- >";
				font-size: 2.2rem;
				color: #808080;
				transition: color .3s;
				white-space: nowrap;
				// width: 17px;
				// height: 13px;
			}

			&:hover{
				&:before{
					filter: none;
				}
				&:after{
					color: #fff;
				}
			}

			&-1{ // о нас
				&:before{
					@include sprite($icon-icon-1);
				}
				&:after{
					bottom: 5px;
					right: -57px;
					transform: rotate(30deg);
				}
			}

			&-2{ // отзывы
				&:before{
					@include sprite($icon-icon-2);
				}
				&:after{
					top: 160px;
					left: 174px;
					transform: rotate(70deg);
				}
			}


			&-3{ // новости
				&:before{
					@include sprite($icon-icon-3);
				}
				&:after{
					top: 170px;
					left: 45px;
					transform: rotate(110deg) scaleY(-1);
				}
			}


			&-4{ // акции
				&:before{
					@include sprite($icon-icon-4);
				}
				&:after{
					top: 130px;
					left: -55px;
					transform: rotate(150deg) scaleY(-1);
				}
			}

			&-5{ // клиенты
				&:before{
					@include sprite($icon-icon-5);
				}
				&:after{
					top: 55px;
					left: -80px;
					transform: rotate(180deg);
				}
			}

			&-6{ // логистика
				&:before{
					@include sprite($icon-icon-6);
				}
				&:after{
					top: -25px;
					left: -15px;
					transform: rotate(225deg);
				}
			}


			&-7{ // калькулятор
				&:before{
					@include sprite($icon-icon-7);
				}
				&:after{
					top: -40px;
					left: 110px;
					transform: rotate(280deg) scaleY(-1);
				}
			}

			&-8{ // услуги
				&:before{
					@include sprite($icon-icon-8);
				}
				&:after{
					top: -25px;
					left: 218px;
					transform: rotate(310deg) scaleY(-1);
				}
			}

			&-9{ // работы
				&:before{
					@include sprite($icon-icon-9);
				}
				&:after{
					top: 56px;
					left: 267px;
					transform: rotate(10deg) scaleY(-1);
				}
			}

		}


		// address
		.address{
			bottom: 28px;
			color: $color2;
			font-style: italic;
			position: absolute;
			right: 0;
			text-align: right;
			z-index: 10;
			a{
				color: $color2;
				border-bottom: 1px dashed;
				&:hover{
					border-bottom-color: rgba(255,255,255,0);
					text-decoration: none;
				}
			}
		}
	}

	.works{
		background-color: $color7;
		margin: 8rem 0 9rem;
		position: relative;		

		.container{
			margin-top: -3.5rem;
			z-index: 3;
			position: relative;
		}
		&:before,
		&:after{
			@extend .before;
			background-size: cover !important;
			width: 100%;
		}

		&:before{
			background: url(../images/work-top.png) no-repeat;
			top: -185px;
			height: 216px;
		}
		&:after{
			background: url(../images/work-bottom.png) no-repeat;
			bottom: -190px;
			height: 195px;
		}
	}

	.services{
		.carousel{
			padding-top: 1rem;
		}
	}

	.clients{
		margin-top: 1rem;
	}

	.reviews{
		background-color: $color10;
		padding: 2rem 0;
	}
}


/* =advantage
---------------------------*/
.advantage{
	position: relative;
	z-index: 2;
	&__item{
		padding: 8.4rem 5.2rem 0;
	}

	&__link{
		text-decoration: none;
		&:hover{
			color: $color1;
			text-decoration: none;
			.advantage{
				&__pic{
					filter: brightness(5) invert(1);
				}
			}
		}
	}

	&__pic{
		margin-bottom: 5rem;
		min-height: 90px;
		transition: filter .3s;
	}
	&__title{
		color: $color6;
		font-style: normal;
		margin-bottom: .5rem;
	}
	&__text{
		color: $color1;
		p{
			line-height: 1.25;			
		}
	}
}
/* =/advantage
---------------------------*/


/* =works
---------------------------*/
.works{
	[class*=grid-]{
		grid-row-gap: 23px;	
	}
	&__list{
		margin: 3.7rem 0 1rem;
	}

	&__link{
		display: inline-block;
		position: relative;
		&:before{
			@extend .before;
			border-radius: 15px;
			height: 100%;
			left: 0;
			opacity: 0;
			top: 0;
			transition: opacity .3s;
			width: 100%;
			background: #2f4f8e;
		}
		&:hover{
			&:before{
				opacity: .5;
			}
		}
	}
}
/* =/works
---------------------------*/


/* =services
---------------------------*/
#services-carousel,
#clients-carousel,
#news-carousel
{
	display: flex;
	&.slick-initialized{
		display: block;
	}
	.slick{
		&-prev,
		&-next{
			position: absolute;
			top: 50%;
			margin-top: -16px;
			transition: .3s;
		}
		&-prev{
			left: -50px;
			&:hover{
				left: -55px;
			}
		}

		&-next{
			right: -50px;
			&:hover{
				right: -55px;
			}
		}
	}
}

.carousel{
	padding-left: 5.5rem;
	padding-right: 5.5rem;
}
.services{
}
.item-services{
	width: 168px;
	&__link{
		background-color: $color8;			
		border-radius: 15px;
		border-bottom: none;
		color: $color9;
		font-family: 'DS Eraser Cyr';
		font-size: 1.8rem;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 168px;
		width: 168px;

		&:hover{
			background-color: $color4;
			color: $color2;
			text-decoration: none;	
		}
	}
}

/* =/services
---------------------------*/


#clients-carousel{

}

.item-clients{
	&__link{
		// background-color: $color2;
		display: flex;
		height: 170px;
		width: 170px;
		align-items: center;
		justify-content: center;
		border: 1px solid rgba(255,255,255,0);
		border-radius: 1.5rem;			

		&:hover{
			border-color: $color4;
		}
	}
}


#reviews-carousel{
	margin-top: 5rem;	
}

.item-reviews{
	&__meta{
		font-weight: bold;
		font-style: italic;
		font-size: 1.8rem;
		color: $color1;
		.date{
			color: $color4;
		}
		.separator{
			color: $color5;
			margin: 0 .5rem;
		}
	}

	&__text{
		color: $color1;
		line-height: 1.7;
	}
}


.news-actions{
	margin-bottom: 1.3rem;
}
#news-carousel
{
	.slick-slide{
		text-align: center;
		a{
			display: inline-block;
			position: relative;
			width: 224px;
			&:after{
				@extend .before;
				background-color: rgba(0,0,0,.5);
				border-radius: 1.5rem;
				display: block;
				height: 100%;
				left: 0;
				opacity: 0;
				top: 0;
				transition: opacity .3s;
				width: 100%;
			}
			&:hover{
				text-decoration: none;
				&:after{
					opacity: 1;
				}
				.news__title{
					opacity: 1;
				}
			}
		}
		img{
			border-radius: 1.5rem;
			margin-left: auto;
			margin-right: auto;
		}
	}	

	.news__title{
		align-items: center;
		bottom: 0;
		color: $color2;
		display: flex;
		font-style: italic;
		font-weight: normal;
		justify-content: center;
		left: 0;
		opacity: 0;
		padding: 0 .5rem;
		position: absolute;
		right: 0;
		text-transform: uppercase;
		transition: opacity .3s;
		top: 0;
		z-index: 5;
	}
}