.inner{
	.main{
		padding-top: 2.2rem;
	}
}


.inner h1.title,
main h1
{
		color: $color4;
		font-size: 3rem;
		font-style: normal;
		margin-bottom: 2.5rem;
		text-align: center;		
}


main{
	h1{

	}

	p{
		line-height: 1.7;
		margin: 1.8rem 0;
	}

	a{
		border-bottom: 1px dashed;
		color: $color12;
		&:hover{
			border-bottom-color: rgba(255,255,255,0);
			text-decoration: none;
		}
	}

	b,
	strong,
	.bold{
		font-weight: bold;
	}
	em, i, 
	.italic{
		font-style: italic;
	}


	ul{
		list-style: none;
		margin: 2rem 0;
		padding: 0;
		li{
			margin: .3rem 0;
			padding-left: 12px;
			position: relative;
			&:before{
				@extend .before;
				content: "-";
				left: 0;
				top: -1px;
			}
		}
	}

	ol{
		counter-reset: li;  
		list-style: none;
		margin: 2rem 0;
		li{
			margin: 1rem 0;
			padding-left: 20px;
			position: relative;
			&:before{
				color: $color4;
				content: counter(li, decimal) ".";
				counter-increment: li;
				font-size: 14px;
				left: 0;
				position: absolute;
				top: 0;
				width: 20px;
			}
		}
	}
}