// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-icon-1-name: 'icon-icon-1';
$icon-icon-1-x: 0px;
$icon-icon-1-y: 77px;
$icon-icon-1-offset-x: 0px;
$icon-icon-1-offset-y: -77px;
$icon-icon-1-width: 89px;
$icon-icon-1-height: 54px;
$icon-icon-1-total-width: 286px;
$icon-icon-1-total-height: 234px;
$icon-icon-1-image: '../images/sprite.png';
$icon-icon-1: (0px, 77px, 0px, -77px, 89px, 54px, 286px, 234px, '../images/sprite.png', 'icon-icon-1', );
$icon-icon-2-name: 'icon-icon-2';
$icon-icon-2-x: 0px;
$icon-icon-2-y: 181px;
$icon-icon-2-offset-x: 0px;
$icon-icon-2-offset-y: -181px;
$icon-icon-2-width: 73px;
$icon-icon-2-height: 53px;
$icon-icon-2-total-width: 286px;
$icon-icon-2-total-height: 234px;
$icon-icon-2-image: '../images/sprite.png';
$icon-icon-2: (0px, 181px, 0px, -181px, 73px, 53px, 286px, 234px, '../images/sprite.png', 'icon-icon-2', );
$icon-icon-3-name: 'icon-icon-3';
$icon-icon-3-x: 151px;
$icon-icon-3-y: 0px;
$icon-icon-3-offset-x: -151px;
$icon-icon-3-offset-y: 0px;
$icon-icon-3-width: 74px;
$icon-icon-3-height: 61px;
$icon-icon-3-total-width: 286px;
$icon-icon-3-total-height: 234px;
$icon-icon-3-image: '../images/sprite.png';
$icon-icon-3: (151px, 0px, -151px, 0px, 74px, 61px, 286px, 234px, '../images/sprite.png', 'icon-icon-3', );
$icon-icon-4-name: 'icon-icon-4';
$icon-icon-4-x: 225px;
$icon-icon-4-y: 0px;
$icon-icon-4-offset-x: -225px;
$icon-icon-4-offset-y: 0px;
$icon-icon-4-width: 61px;
$icon-icon-4-height: 68px;
$icon-icon-4-total-width: 286px;
$icon-icon-4-total-height: 234px;
$icon-icon-4-image: '../images/sprite.png';
$icon-icon-4: (225px, 0px, -225px, 0px, 61px, 68px, 286px, 234px, '../images/sprite.png', 'icon-icon-4', );
$icon-icon-5-name: 'icon-icon-5';
$icon-icon-5-x: 0px;
$icon-icon-5-y: 131px;
$icon-icon-5-offset-x: 0px;
$icon-icon-5-offset-y: -131px;
$icon-icon-5-width: 83px;
$icon-icon-5-height: 50px;
$icon-icon-5-total-width: 286px;
$icon-icon-5-total-height: 234px;
$icon-icon-5-image: '../images/sprite.png';
$icon-icon-5: (0px, 131px, 0px, -131px, 83px, 50px, 286px, 234px, '../images/sprite.png', 'icon-icon-5', );
$icon-icon-6-name: 'icon-icon-6';
$icon-icon-6-x: 225px;
$icon-icon-6-y: 68px;
$icon-icon-6-offset-x: -225px;
$icon-icon-6-offset-y: -68px;
$icon-icon-6-width: 47px;
$icon-icon-6-height: 49px;
$icon-icon-6-total-width: 286px;
$icon-icon-6-total-height: 234px;
$icon-icon-6-image: '../images/sprite.png';
$icon-icon-6: (225px, 68px, -225px, -68px, 47px, 49px, 286px, 234px, '../images/sprite.png', 'icon-icon-6', );
$icon-icon-7-name: 'icon-icon-7';
$icon-icon-7-x: 77px;
$icon-icon-7-y: 0px;
$icon-icon-7-offset-x: -77px;
$icon-icon-7-offset-y: 0px;
$icon-icon-7-width: 74px;
$icon-icon-7-height: 77px;
$icon-icon-7-total-width: 286px;
$icon-icon-7-total-height: 234px;
$icon-icon-7-image: '../images/sprite.png';
$icon-icon-7: (77px, 0px, -77px, 0px, 74px, 77px, 286px, 234px, '../images/sprite.png', 'icon-icon-7', );
$icon-icon-8-name: 'icon-icon-8';
$icon-icon-8-x: 0px;
$icon-icon-8-y: 0px;
$icon-icon-8-offset-x: 0px;
$icon-icon-8-offset-y: 0px;
$icon-icon-8-width: 77px;
$icon-icon-8-height: 77px;
$icon-icon-8-total-width: 286px;
$icon-icon-8-total-height: 234px;
$icon-icon-8-image: '../images/sprite.png';
$icon-icon-8: (0px, 0px, 0px, 0px, 77px, 77px, 286px, 234px, '../images/sprite.png', 'icon-icon-8', );
$icon-icon-9-name: 'icon-icon-9';
$icon-icon-9-x: 151px;
$icon-icon-9-y: 61px;
$icon-icon-9-offset-x: -151px;
$icon-icon-9-offset-y: -61px;
$icon-icon-9-width: 68px;
$icon-icon-9-height: 65px;
$icon-icon-9-total-width: 286px;
$icon-icon-9-total-height: 234px;
$icon-icon-9-image: '../images/sprite.png';
$icon-icon-9: (151px, 61px, -151px, -61px, 68px, 65px, 286px, 234px, '../images/sprite.png', 'icon-icon-9', );
$spritesheet-width: 286px;
$spritesheet-height: 234px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($icon-icon-1, $icon-icon-2, $icon-icon-3, $icon-icon-4, $icon-icon-5, $icon-icon-6, $icon-icon-7, $icon-icon-8, $icon-icon-9, );
$spritesheet: (286px, 234px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
