.submenu{
	margin-top: 3.2rem;
	ul{
		display: flex;
		justify-content: center;
		a{
			background-color: $color8;
			color: $color4;
			height: 3.2rem;
			width: 18.4rem;
			border-bottom: none;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 3.2rem;
			&:hover{
				background-color: #2f4f8e;
				color: $color2;
				text-decoration: none;
			}
		}
		li{
			padding: 0;
			margin: 0 1.2rem;
			&:before{
				display: none;
			}
			&.active{
				a,span{
					color: $color2;
					background-color: #2f4f8e;
				}
			}
		}
	}

	&.bottom-longline{
		padding-bottom: 4rem;
	}

	&-work{
		padding: 0 !important;
		ul{		
			padding-top: 3.2rem;
			padding-bottom: 3.2rem;
			a{
				background-color: #a8a8a8;
				color: $color2;
			}
		}
	}
}

.inner{
	.works__list{
		padding-top: 5rem;
		padding-bottom: 5rem;
		margin-bottom: 3.2rem;
	}
	.more-wrapper{
		padding-bottom: 3.2rem;
	}
}